.chatroom-sidebar {
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 270px;
/*    height: 100%;*/
    padding-top: 1.8rem;
    padding-left: 25px;
    padding-right: 10px;
    background-color: lightgrey;
    font-family: sans-serif;
    overflow-y: scroll;
    direction: rtl;
    
}

.chatroom-sidebar-header {
    display: block;
    margin: auto;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
}

.new-chatroom-button {
        display: block;
    position: relative;
    right: 2rem;
    width: 4.5rem;
    background-color: white;
    color: slategray;
    opacity: 0.8;
    padding: 0.5rem;
    font-size: 0.7rem;
    cursor: pointer;
}

.chatroom-list {
    position: relative;
    padding-left: 0.5rem;
    list-style: none;
    text-align: left;
}

.chatroom-list-item {
    margin-top: 10px;
    color: slategray;
    cursor: pointer;
    overflow-x: hidden;
}