.chatroom {
    position: relative;
    height: calc(100% - 3rem);
    overflow: auto;
    padding-top: 4rem;
}

.chatroom-header {
    display: block;
/*    position: static;*/
    position: fixed;
    left: 270px;
    top: 0px;
    background-color: white;   
    width: calc(100% - 270px);
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    height: 6.5rem;
    z-index: 10;
}

.chatroom-header h4 {
    display: inline-block;
    font-size: 1rem;
}

#header-room-container {
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
    max-width: 55%;
    float: left;
}

#header-room-text {
    text-overflow: ellipsis;
}

#header-username-container {
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
    max-width: 40%;
    float: right;
}

#header-username-text {
    text-overflow: ellipsis;
}

#header-change-username {
    font-size: 0.8rem;
    color: dimgrey;
    clear: right;
    float: right;
    cursor: pointer;
}

section.chatroom-messages-container {
    position: relative;
    clear: both;
    top: 0rem;
}

div.chatroom-message {
    display: block;
    padding: 0.7rem 0rem;
}

.chatroom-message.even {
    background-color: #F6F7FB;
}

.chatroom-message.odd {
    background-color: white;
}

span.chatroom-message {
    display: block;
    padding: 0px 1rem;
}


.chatroom-message.username {
    font-weight: 600;
    text-align: left;
}

.sent-at {
    font-style: italic;
    font-weight: 400;
    color: lightgrey;
    text-align: right;
    float: right;
}

.chatroom-message.content {
    padding-right: 2rem;
    word-wrap: break-word;
}