.insertable-container {
    position: absolute;
    bottom: 0rem;
    right: 0px;
    height: 3rem;
    width: 5.5rem;
}

.insertable-button {
    position: relative;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background-color: #00ADAD;
    color: white;
    font-size: 200%;
    border: none;
    outline: none;  
}

.insertable-button:active {
    cursor: pointer;
    background-color: white;
    color: #00ADAD;
    border: 1px solid #00ADAD;
    outline: none;
}

.insertable-button:hover {
    cursor: pointer;
    background-color: white;
    color: #00ADAD;
    border: 1px solid #00ADAD;
    outline: none;
}

.insertable-menu {
    position: absolute;
    display: none;
    right: 0px;
    height: 0px;
    width: 0px;
    bottom: 3rem;
    background-color: #00ADAD; 
    border: 2px solid #efeaea;
    color: white;
    margin: 0px;
}

.smack-talk {
    display: inline-block;
    margin: 0px;
    height: 0px;
    padding: 5px;
    background-color: white;
    color: #00ADAD;
}