body {
    height: 100vh;
    width: 100vw;
}

.no-padding {
    padding: 0em;
}

.large-aside {
    height: 100vh;
    max-width: 27em;
    margin: 0em;
    background-color: lightgrey;
}

.large-aside h1, .large-aside h4 {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.large-aside-second-row {
    display: inline-block;
    position: relative;
    bottom: em;
    width: 100%;
    margin-bottom: .5em;
}

.large-aside-second-row h4 {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
}

.large-aside-second-row button {
    display: inline-block;
    float: left;
}

.large-aside-rooms {
    list-style: none;
    font-size: 1.2em;
}

.large-aside-rooms-item {
    cursor: pointer;
    margin-bottom: 0.2em;
}

.large-header {
    height: 6em;
    border-bottom: 1px solid grey;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.large-header div {
    display: inherit;
}

.large-header-room {
    width: calc(75%);
    flex-direction: column;
    justify-content: center;
}

.large-header-room h2 {
    margin: 0em;
    overflow-y: hidden;
}

.large-header-username {
    width: calc(25%);
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.large-header-username h4 {
    margin: 0.1em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.large-header-username h4 * {
    font-size: 0.8em;
}

.large-header-username p {
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
    margin: 0.3em 0.5em 0.3em 0;
}

.large-header-username a {
    color: black;
    opacity: .5;
}

.large-header-username a:hover {
    cursor: pointer;
}

.room {
    height: calc(100vh - 13em);
    padding: 0;
    overflow-y: auto;
}

.room-item {
    display: flex;
    flex-wrap: wrap;
    padding: .5em 1.2em;
}

.even {
    background-color: #f4f4f4;
}

.odd {
    background-color: white;
}

.room-item div {
    flex: 1 0 100%;
    display: flex;
}

.room-item.own div {
    justify-content: flex-end;
}

.room-item-username {
    font-weight: bold;
    margin-right: 1em;
}

.room-item-username.own {
    margin: 0 0 0 1em;
    order: 1;
}

.room-item-sent-at {
    opacity: .5;
}

#footer-container {
    height: 7em;
    width: 100%;
    padding: 0em;
    display: flex;
    border-top: 1px solid lightgrey;
    margin: 0;
}

#text-input {
    height: calc(100% - .4em);
    max-width: calc(100% - 5em);
    width: calc(87.5% - .4em);
    display: inline-block;
    color: #262626;
    font-size: 1.2em;
    border: 1px solid lightgrey;
    margin: .2em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#btn-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

#btn-send {
    height: 50%;
    box-sizing: border-box;
    font-size: 1.5em;
}

#btn-send:hover {
    text-decoration: underline;
}

#btn-help-container {
    height: 48.5px;
}

#btn-help {
    width: 100%;
    height: 100%;
    background-color: #00ADAD;
    color: white;
    font-size: 2em;
    border-radius: 2px;
}

#btn-help span {
    
}

#btn-help:hover {
    background-color: white;
    color: #00ADAD;
}

.menu-option {
    border-radius: 0px;
    height: 11.5%;
    border: 1px solid black;
    background-color: #00ADAD;
    font-size: 1.8em;
    color: #eaeaea;
    vertical-align: middle;
}

.menu-option:hover {
    text-decoration: underline;
    background-color: #58cece;
}

#insertable-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    position: absolute;
    margin: 0;
    padding: .5em;
    right: 5px;
    bottom: 3.3em;
    width: 0em;
    height: 0em;
    background-color: #ededf9;
    color: #007272;
    justify-content: space-between;
};



@media (max-width: 768px) {
    .room {
        height: calc(100vh - 10em);
    }
}

@media (max-width: 768px) {
    .room {
        height: calc(100vh - 10em);
    }
}