<!DOCTYPE html>
<html ng-app="awkwardAssist" ng-controller="MainCtrl as main">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awkward Assist</title>
    
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Font-Family, Cabin -->
    <link href='https://fonts.googleapis.com/css?family=Cabin:500,600' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Firebase and config -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBgjDHluQhaDVw727m2cPpbGGi14NzsAtY",
            authDomain: "crackling-inferno-7707.firebaseapp.com",
            databaseURL: "https://crackling-inferno-7707.firebaseio.com"
        }
        firebase.initializeApp(config);
        var rootRef = firebase.database().ref();
    </script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
    <!-- Anguler UI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <!-- Angular UI Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
    <!-- Angular Cookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    
    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" href="/styles/large-devices.css" />
    <link type="text/css" rel="stylesheet" href="/styles/mobile-devices.css" />
    <link type="text/css" rel="stylesheet" href="/styles/mobile-insertable.css" />
    <link type="text/css" rel="stylesheet" href="/styles/mobile-rooms.css" />
    <link type="text/css" rel="stylesheet" href="/styles/mobile-state.css" />
    <link type="text/css" rel="stylesheet" href="/styles/modals.css" />
    
    <!--     Scripts -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/run.js"></script>
    <!--         Controllers -->
    <script src="/scripts/controllers/MainCtrl.js"></script>
    <script src="/scripts/controllers/ChatSidebarCtrl.js"></script>
    <script src="/scripts/controllers/ChatroomCtrl.js"></script>
    <script src="/scripts/controllers/NewRoomModalCtrl.js"></script>
    <script src="/scripts/controllers/SetCurrentUserModalCtrl.js"></script>
    <script src="/scripts/controllers/InsertableCtrl.js"></script>
    <!--         Services -->
    <script src="/scripts/services/Room.js"></script>
    <script src="/scripts/services/Message.js"></script>
    <script src="/scripts/services/Insertable.js"></script>
    <script src="/scripts/services/fixtures.js"></script>
    <!--         Filters -->
    <script src="/scripts/filters/sentAt.js"></script>
    
    <!--     Templates -->
    <script src="/templates/setCurrentUserModal.html"></script>
    
</head>
<body>
    <div class="container-fluid" ng-controller="ChatroomCtrl as chatroom">
        <div class="row">
            <div class="col-12 visible-xs-block mobile-top-row">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <a id="mobile-menu-button" uib-dropdown-toggle ng-disabled="disabled" class="mobile-burger">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-menu-hamburger mobile-burger"></span>
                        </div>
                    </a>
                    <ul class="mobile-menu" uib-dropdown-menu role="menu" aria-labelledby="mobile-menu-button">
                        <li role="menuitem"><a ng-click="chatroom.transitionState('mobile-rooms')">Enter New Room</a></li>
                        <li role="menuitem"><a ng-click="chatroom.openSetCurrentUserModal()">Change Username</a></li>
                    </ul>
                </div>
                <div class="mobile-header">
                    <h4 ng-show="chatroom.activeRoom" class="mobile-header-room">{{ chatroom.activeRoom.name }} </h4>
                    <h4 ng-hide="chatroom.activeRoom" class="mobile-header-room">Use the menu to choose a chatroom!</h4>
                    <div id="mobile-header-username">
                        <p>Username: </p>
                        <p>{{ username }}</p>
                    </div>
                </div>
            </div>
            <ui-view></ui-view>
        </div>
    </div>
</body>
</html>
