<!DOCTYPE html>
<html ng-app="awkwardAssist" ng-controller="MainCtrl as main">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awkward Assist</title>
    
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Font-Family, Cabin -->
    <link href='https://fonts.googleapis.com/css?family=Cabin:500,600' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Firebase and config -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBgjDHluQhaDVw727m2cPpbGGi14NzsAtY",
            authDomain: "crackling-inferno-7707.firebaseapp.com",
            databaseURL: "https://crackling-inferno-7707.firebaseio.com"
        }
        firebase.initializeApp(config);
        var rootRef = firebase.database().ref();
    </script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
    <!-- Anguler UI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <!-- Angular UI Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
    <!-- Angular Cookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    
<!--
     Stylesheets 
    <link type="text/css" rel="stylesheet" href="../styles/main.css" />
-->
    
    <!-- Stylesheets for Brackets Live Preview-->
    <link type="text/css" rel="stylesheet" href="../styles/large-devices.css" />
    
<!--     Scripts -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/run.js"></script>
<!--         Controllers -->
    <script src="/scripts/controllers/MainCtrl.js"></script>
    <script src="/scripts/controllers/ChatSidebarCtrl.js"></script>
    <script src="/scripts/controllers/ChatroomCtrl.js"></script>
    <script src="/scripts/controllers/NewRoomModalCtrl.js"></script>
    <script src="/scripts/controllers/SetCurrentUserModalCtrl.js"></script>
    <script src="/scripts/controllers/InsertableCtrl.js"></script>
<!--         Services -->
    <script src="/scripts/services/Room.js"></script>
    <script src="/scripts/services/Message.js"></script>
    <script src="/scripts/services/Insertable.js"></script>
    <script src="/scripts/services/fixtures.js"></script>
<!--         Filters -->
    <script src="/scripts/filters/sentAt.js"></script>
    
<!--
     Scripts 
    <script src="../scripts/app.js"></script>
    <script src="../scripts/run.js"></script>
         Controllers 
    <script src="../scripts/controllers/MainCtrl.js"></script>
    <script src="../scripts/controllers/ChatSidebarCtrl.js"></script>
    <script src="../scripts/controllers/ChatroomCtrl.js"></script>
    <script src="../scripts/controllers/NewRoomModalCtrl.js"></script>
    <script src="../scripts/controllers/SetCurrentUserModalCtrl.js"></script>
    <script src="../scripts/controllers/InsertableCtrl.js"></script>
         Services 
    <script src="../scripts/services/Room.js"></script>
    <script src="../scripts/services/Message.js"></script>
    <script src="../scripts/services/Insertable.js"></script>
    <script src="../scripts/services/fixtures.js"></script>
         Filters 
    <script src="../scripts/filters/sentAt.js"></script>
-->
    
<!--     Templates -->
    <script src="/templates/setCurrentUserModal.html"></script>
    
<!--
     Templates 
    <script src="../templates/setCurrentUserModal.html"></script>
-->
</head>
<body>
    <div class="container-fluid" ng-controller="ChatroomCtrl as chatroom">
        <div class="row">
            <div class="col-12 visible-xs-block mobile-top-row">
                <a class="mobile-burger">
                    <div class="text-center">
                        <span class="glyphicon glyphicon-menu-hamburger mobile-burger"></span>
                    </div>
                </a>
                <div class="mobile-header">
                    <h4 ng-show="chatroom.activeRoom">{{ chatroom.activeRoom.name }}</h4>
                </div>
            </div>
            <aside class="col-sm-3 hidden-xs large-aside" ng-controller="ChatSidebarCtrl as chatSidebar">
                <h1 class="large-aside-header">Awkward Assist</h1>
                <div class="large-aside-second-row">
                    <h4>Start a new room!</h4>
                    <button class="btn btn-default" ng-click="chatSidebar.openNewRoomModal()">Create</button>
                </div>
                <ul class="large-aside-rooms">
                    <li class="large-aside-rooms-item" ng-repeat="room in chatSidebar.rooms" ng-click="chatSidebar.selectActiveRoom(room)">{{ room.name }}</li>
                </ul>
            </aside>
            <div class="col-xs-12 col-sm-9" id="main">
                <div class="row">
                    <header class="col-sm-12 hidden-xs large-header">
                        <div class="large-header-room">
                            <h2 ng-show="chatroom.activeRoom">{{ chatroom.activeRoom.name }}</h2>
                        </div>
                        <div class="large-header-username">
                            <h4>
                                Username:<br />
                                <p>{{ username }}</p>
                                <a ng-click="chatroom.openSetCurrentUserModal()">Change </a>
                            </h4>
                        </div>
                    </header>
                    <section class="col-sm-12 room">
                        <div class="room-item" ng-repeat="message in chatroom.activeRoomMessages" ng-class="{even: $even, odd: $odd, own: message.username === chatroom.activeUsername}">
                            <div class="room-item-top-line">
                                <span class="room-item-username" ng-class="{ own: message.username === chatroom.activeUsername}">{{ message.username }}</span>
                                <span class="room-item-sent-at">{{ message.sentAt | SentAt }}</span>
                            </div>
                            <div class="room-item-second-line">
                                <span class="room-item-content">{{ message.content }}</span>
                            </div>
                        </div>
                    </section>
                    <footer class="col-xs-12" id="footer-container">
                        <textarea id="text-input" ng-model="chatroom.newMessageContent"></textarea>
                        <div id="btn-container">
                            <button type="button" class="btn" id="btn-send" ng-click="chatroom.addMessage(chatroom.newMessageContent)">Send</button>
                            
                            <div id="btn-help-container">
                                <button type="button" class="btn" id="btn-help">
                                    <span class="ion-help-buoy"></span>
                                </button>
                                <menu class="hidden-xs" id="insertable-container">
                                    <h2 style="margin:0.2em auto -.3em;font-size:2.3em;margin-bottom:-.2em">What do you want to do?</h2>
                                    <button class="btn menu-option" ng-click="insertable.getInsertable('smackTalk')"><span class="ion-nuclear"></span> Talk some smack</button>
                                    <button class="btn menu-option" ng-click="insertable.getInsertable('breakup')"><span class="ion-heart-broken"></span> Break up</button>
                                    <button class="btn menu-option" ng-click="insertable.getInsertable('compliment')"><span class="ion-thumbsup"></span> Give a compliment</button>
                                    <button class="btn menu-option" ng-click="insertable.getInsertable('excuseToLeave')"><span class="ion-log-out"></span> Leave conversation</button>
                                    <button class="btn menu-option" ng-click="insertable.getInsertable('joke')"><span class="ion-happy-outline"></span> Tell a joke</button>
                                    <button class="btn menu-option" ng-click="insertable.getInsertable('subjectChange')"><span class="ion-refresh"></span> Change the subject...</button>
                                </menu>
                            </div>
                        </div>
                    </footer>
                    
                </div>
            </div>
            
    <script src="/scripts/magic/insertableMenu.js"></script>
        </div>
    </div>
</body>
</html>
