.chatroom-header {
    display: block;
    position: absolute;
    left: 270px;
    top: 0px;
    background-color: white;
    width: calc(100% - 270px);
    height: 5rem;
    border-bottom: 2px solid lightgrey;
}

.chatroom-header h4 {
    display: inline-block;
    font-size: 1rem;
}

#header-room-container {
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
    max-width: 55%;
    float: left;
    height: 100%;
    padding-left: 1.5rem;
}

#header-room-text {
    text-overflow: ellipsis;
}

#header-username-container {
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
    max-width: 40%;
    float: right;
    height: 100%;
    padding-right: 1.5rem;
}

#header-username-text {
    text-overflow: ellipsis;
}

#header-change-username {
    font-size: 0.8rem;
    color: dimgrey;
    clear: right;
    cursor: pointer;
}

.chatroom-messages-container {
    position: absolute;
    top: 5rem;
    bottom: 6rem;
    right: 0px;
    left: 0px;
    height: calc(100% - 11rem);
    margin-left: 270px;
    background-color: white;
    overflow-y: scroll;
}

.chatroom-messages-container * {
    margin: 0px;
    padding: 0px;
}

div.chatroom-message {
    display: block;
    padding: 0.7rem 1rem;
}

.message-top-line {
    display: inherit;
}

.username {
    font-weight: 600;
    text-align: left;
}

.sent-at {
    font-style: italic;
    font-weight: 400;
    color: lightgrey;
    text-align: right;
    float: right;
}

.message-content {
    padding-right: 2rem;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.own.message-top-line {
    text-align: right;
}

.own.sent-at {
    float: left
}

.own.message-content {
    display: inherit;
    text-align: right;
}