.insertable-container {
    position: absolute;
    bottom: 0rem;
    right: 0px;
    height: 3rem;
    width: 5.5rem;
}

.insertable-button {
    position: relative;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background-color: #00ADAD;
    color: white;
    font-size: 200%;
    border: none;
    outline: none;  
}

.insertable-button:active {
    cursor: pointer;
    background-color: #c0f9cf;
    color: #00ADAD;
    border: 1px solid #00ADAD;
    outline: none;
}

.insertable-button:hover {
    cursor: pointer;
    background-color: #c0f9cf;
    color: #00ADAD;
    border: 1px solid #00ADAD;
    outline: none;
}

.insertable-menu {
    position: absolute;
    display: none;
    right: 2px;
    height: 0px;
    width: 0px;
    bottom: 3rem;
    background-color: #d7eff7; 
    border: 2px ridge #00ADAD;
    color: #008E8E;
    margin: 0px;
    padding: 20px 0px 0px;
    font-family: 'Cabin', sans-serif;
}

.insertable-menu h1 {
    position: relative;
    display: block;
    text-align: center;
    font-size: 170%;
}

.menu-option {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 5px 5px 5px 40px;
}

.menu-option h2, .menu-option span{
    display: inline-block;
    margin: auto;
}

.menu-option h2 {
    padding-left: 0.5rem;
}

.menu-option span {
    font-size: 150%;
}

.menu-option h2:hover, .menu-option span:hover {
    text-decoration: underline;
    cursor: pointer;
}
