<div class="mobile-state-container">
    <div class="rooms-list-container" ng-controller="ChatSidebarCtrl as mobileRoomsList">
        <a ui-sref='root' id="mobile-state-close"><span class="ion-android-close"></span></a>
        <div class="rooms-list-top-row">
            <h1 id="rooms-list-top-header">Choose a Room</h1>
        </div>
        <div class="rooms-list-second-row">
            <h3 id="rooms-list-second-header">Or start a new one!</h3>
            <button class="btn" ng-click="mobileRoomsList.openNewRoomModal()">Create</button>
        </div>
        <div id="rooms-list">
            <div class="rooms-list-room" ng-repeat="room in mobileRoomsList.rooms">
                <a ng-click="mobileRoomsList.selectActiveRoom(room)">{{ room.name }}</a>
            </div>
        </div>
    </div>
    <ng-include src="'/templates/footer.html'" />
</div>