<div class="new-room-modal-background"></div>
<div class="new-room-modal-container">
    <div class="new-room-modal-content">
        <div class="new-room-modal-header">
            <h3>Create new room</h3>
        </div>
        <div class="new-room-modal-body">
            
            Enter a room name <input type="text" id="new-room-name" ng-model="newRoomModal.name" ng-keyup="newRoomModal.keyup($event)" autofocus>
        </div>
        <div class="new-room-modal-buttons">
            <input type="button" class="button" id="new-room-modal-ok-button" ng-click="newRoomModal.ok()" value="OK">
            <input type="button" class="button" id="new-room-modal-cancel-button" ng-click="newRoomModal.cancel()" value="Cancel">
        </div>
    </div>
</div>